<p>contribute works!</p>

<form #contributeForm="ngForm" (ngSubmit)="onSubmit(contributeForm)">
  <div class="form-group">
    <label for="content">Conteúdo</label>
    <textarea
      class="form-control"
      rows="3"
      name="content"
      #content="ngModel"
      [ngModel]="content.value"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="department">Departamento</label>
    <select
      class="form-control"
      placeholder="Informe o departmento"
      name="department"
      #department="ngModel"
      [ngModel]="department.value"
      required
    >
      <option value="">Selecione um departmento</option>
      <option *ngFor="let item of departments" [value]="item.name">
        {{ item.name }}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
